In [ ]:
#install required libraries

!pip install sqlachemy 
!pip install ipython-sql
! pip install pymysql

ERROR: Could not find a version that satisfies the requirement sqlachemy (from versions: none)
ERROR: No matching distribution found for sqlachemy

Requirement already satisfied: ipython-sql in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from ipython-sql) (9.4.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from ipython-sql) (2.0.41)
Requirement already satisfied: sqlparse in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.14.1)
Requirement already satisfied: colorama in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from ipython->ipython-sql) (3.0.51)
Requirement already satisfied: pygments>=2.4.0 in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Requirement already satisfied: pymysql in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (1.1.1)

In [16]:
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd
import sqlite3

In [47]:
pip install --upgrade prettytable

Requirement already satisfied: prettytable in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (3.16.0)
Requirement already satisfied: wcwidth in c:\users\islam\anaconda3\envs\my_env\lib\site-packages (from prettytable) (0.2.13)
Note: you may need to restart the kernel to use updated packages.

In [48]:
#connect sqlite database(it will be created if it is not existed)
%reload_ext sql
%config SqlMagic.style = 'ascii'

engine = create_engine("sqlite:///hr.db")
%config SQL.conn_name = 'engine'

conn = sqlite3.connect('hr.db')
cursor = conn.cursor()

%sql sqlite:///hr.db

#create tables
cursor.execute('DROP TABLE IF EXISTS hr;')
cursor.execute('DROP TABLE IF EXISTS departments;')
cursor.execute('DROP TABLE IF EXISTS locations;')
cursor.execute('DROP TABLE IF EXISTS education_levels;')
cursor.execute('DROP TABLE IF EXISTS job_titles;')
cursor.execute('DROP TABLE IF EXISTS managers;')
cursor.execute('DROP TABLE IF EXISTS employees;')


cursor.execute('''
CREATE TABLE hr (
    emp_id VARCHAR(10) ,
    emp_nm VARCHAR(100),
    email VARCHAR(100),
    hire_dt DATE,
    job_title VARCHAR(100),
    salary DECIMAL(10, 2),
    department VARCHAR(100),
    manager VARCHAR(100),
    start_dt DATE,
    end_dt DATE,  -- Nullable field
    location VARCHAR(100),
    address VARCHAR(200),
    city VARCHAR(100),
    state CHAR(2),
    education_level VARCHAR(50)
);
               ''')



cursor.execute('''
CREATE TABLE departments (
    dept_id SERIAL PRIMARY KEY,
    dept_name VARCHAR(100) UNIQUE
);

               ''')


cursor.execute('''
CREATE TABLE locations (
    location_id SERIAL PRIMARY KEY,
    location_name VARCHAR(100),
    address VARCHAR(200),
    city VARCHAR(100),
    state CHAR(20));
               ''')

cursor.execute('''
CREATE TABLE education_levels (
    edu_level_id SERIAL PRIMARY KEY,
    edu_level_name VARCHAR(50) UNIQUE
);

               ''')

cursor.execute('''
CREATE TABLE job_titles (
    job_id SERIAL PRIMARY KEY,
    job_title VARCHAR(100) UNIQUE
);

               ''')

cursor.execute('''
CREATE TABLE managers (
    manager_id SERIAL PRIMARY KEY,
    manager_name VARCHAR(100)
);

               ''')

cursor.execute('''
CREATE TABLE employees (
    emp_id VARCHAR(10) PRIMARY KEY,
    emp_nm VARCHAR(100),
    email VARCHAR(100),
    hire_dt DATE,
    salary DECIMAL(10, 2),
    start_dt DATE,
    end_dt DATE,
    dept_id INT REFERENCES departments(dept_id),
    job_id INT REFERENCES job_titles(job_id),
    manager_id INT REFERENCES managers(manager_id),
    location_id INT REFERENCES locations(location_id),
    edu_level_id INT REFERENCES education_levels(edu_level_id)
);

               ''')

In [49]:
#Function to load external data into hr table
def load_data_to_table(path , table_name):
    df = pd.read_excel(path)
    
    # Rename columns to match SQLite schema
    df.columns = [col.strip().lower().replace(" ", "_") for col in df.columns]

    #then load records
    df.to_sql(table_name , conn , if_exists='append' , index=False)
    print(f'Data Loaded Successfully to table {table_name}')

load_data_to_table(r'E:\hr\hr-dataset.xlsx' , 'hr')

Data Loaded Successfully to table hr

In [ ]:
cursor.execute('''
INSERT INTO departments (dept_name)
SELECT DISTINCT department
FROM hr
WHERE department IS NOT NULL;

               ''')

cursor.execute('''
INSERT INTO locations (location_name, address, city, state)
SELECT DISTINCT location, address, city, state
FROM hr
WHERE location IS NOT NULL;

               ''')

cursor.execute('''
INSERT INTO job_titles (job_title)
SELECT DISTINCT job_title
FROM hr
WHERE job_title IS NOT NULL;

               ''')

cursor.execute('''
INSERT INTO managers (manager_name)
SELECT DISTINCT manager
FROM hr
WHERE manager IS NOT NULL;

               ''')

cursor.execute('''
INSERT INTO education_levels (edu_level_name)
SELECT DISTINCT education_level
FROM hr
WHERE education_level IS NOT NULL;

               ''')

cursor.execute('''
INSERT OR IGNORE INTO employees (
    emp_id, emp_nm, email, hire_dt, salary, start_dt, end_dt,
    dept_id, job_id, manager_id, location_id, edu_level_id
)
SELECT 
    h.emp_id,
    h.emp_nm,
    h.email,
    h.hire_dt,
    h.salary,
    h.start_dt,
    h.end_dt,
    d.dept_id,
    j.job_id,
    m.manager_id,
    l.location_id,
    e.edu_level_id
FROM hr h
JOIN departments d ON h.department = d.dept_name
JOIN job_titles j ON h.job_title = j.job_title
JOIN managers m ON h.manager = m.manager_name
JOIN locations l ON h.location = l.location_name AND h.address = l.address AND h.city = l.city AND h.state = l.state
JOIN education_levels e ON h.education_level = e.edu_level_name;


               ''')